runpod
soundfile
torch>=2.2.0
torchaudio
transformers
accelerate
descript-audiotools
descript-audio-codec
silero-vad
einops
lightning
natsort
hydra-core
omegaconf
tiktoken
sentencepiece
loralib
pyrootutils
einx
git+https://github.com/fishaudio/fish-speech.git
